{% extends 'base.html.twig' %}

{% block title %}MSL-Elektronik{% endblock %}

{% block body %}

	
	<section class="engine"><a href="https://mobirise.co/f">bootstrap builder</a></section><section class="cid-qyvHxX98kc mbr-parallax-background" id="header2-5" data-rv-view="1397">

	    

	    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(118, 118, 118);"></div>

	    <div class="container align-center">
	        <div class="row justify-content-md-center">
	            <div class="mbr-white col-md-10">
	                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-5"><span style="font-weight: normal;">Willkommen bei</span></h1>
	                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-1"><strong>
	                    MSL-Elektronik</strong></h3>
	                <p class="mbr-text pb-3 mbr-fonts-style display-5">
	                    Bei uns gibt es zwar keine 0% Finanzierung und Geiz ist auch nicht geil, aber dafür bieten wir Ihnen Elektronikartikel und Service zu fairen Preisen.

	                </p>
	                
	            </div>
	        </div>
	    </div>
	    
	</section>

	<section class="header3 cid-qyAIF16xJN mbr-parallax-background" id="header3-f" data-rv-view="1400">

	    

	    <div class="mbr-overlay" style="opacity: 0.9; background-color: #F4D748;">
	    </div>

	    <div class="container">
	        <div class="media-container-row">
	            <div class="mbr-figure" style="width: 100%;">
	                <img src="pics/logo.png" alt="Mobirise" title="" media-simple="true">
	            </div>

	            <div class="media-content">
	                <h2 class="mbr-section-title mbr-white mbr-border pb-3 mbr-fonts-style display-1">Summer Sale</h2>
	                
	                <div class="mbr-section-text mbr-black pb-3 ">
	                    <p class="mbr-text mbr-fonts-style display-5">
	                        Sed suscipit hendrerit ex, eget mattis odio consectetur sed. Nullam tempor lobortis erat, a consequat nisl tempor ut.&nbsp;</p>
	                </div>
	                
	            </div>
	        </div>
	    </div>

	</section>

	<section class="features2 cid-qyvQ2gAtvk" id="features2-7" data-rv-view="1405">

	    

	    
	    
	    <div class="container">
	        <div class="media-container-row">
	            <div class="card p-3 col-12 col-md-6 col-lg-4">
	                <div class="card-wrapper">
	                    <div class="card-img">
	                        <img src="assets/images/myles-tan-85939.jpg" alt="Mobirise" title="" media-simple="true">
	                    </div>
	                    <div class="card-box">
	                        <h4 class="card-title pb-3 mbr-fonts-style display-5">Vases</h4>
	                        <p class="mbr-text mbr-fonts-style display-7">Aliquam id iaculis sem, eu consectetur elit. Proin vitae semper sapien. Nulla facilisi.</p>
	                    </div>
	                </div>
	            </div>

	            <div class="card p-3 col-12 col-md-6 col-lg-4">
	                <div class="card-wrapper">
	                    <div class="card-img">
	                        <img src="assets/images/gaelle-marcel-85383.jpg" alt="Mobirise" title="" media-simple="true">
	                    </div>
	                    <div class="card-box ">
	                        <h4 class="card-title pb-3 mbr-fonts-style display-5">
	                            Seedlings</h4>
	                        <p class="mbr-text mbr-fonts-style display-7">Pellentesque venenatis mauris non ligula lobortis, vitae tincidunt neque bibendum.</p>
	                    </div>
	                </div>
	            </div>

	            <div class="card p-3 col-12 col-md-6 col-lg-4">
	                <div class="card-wrapper">
	                    <div class="card-img">
	                        <img src="assets/images/tanalee-youngblood-341695.jpg" alt="Mobirise" title="" media-simple="true">
	                    </div>
	                    <div class="card-box">
	                        <h4 class="card-title pb-3 mbr-fonts-style display-5">Rare Lanterns</h4>
	                        <p class="mbr-text mbr-fonts-style display-7">graphy Tem<br></p>
	                    </div>
	                </div>
	            </div>

	            
	        </div>
	    </div>
	</section>

	<section class="header1 cid-qyvT4w8VtF mbr-parallax-background" id="header1-9" data-rv-view="1408">

	    

	    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(8, 95, 67);">
	    </div>

	    <div class="container">
	        <div class="row justify-content-md-center">
	            <div class="mbr-white col-md-10">
	                <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">
	                    20% Birthday Discount</h2>
	                
	                <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
	                    Curabitur laoreet vel sapien et egestas. 
	                </p>
	                
	            </div>
	        </div>
	    </div>

	</section>

	<section class="features11 cid-qyw25LhjY4" id="features11-d" data-rv-view="1411">

	    

	    

	    <div class="container">   
	        <div class="col-md-12">
	            <div class="media-container-row">
	                <div class="mbr-figure" style="width: 50%;">
	                    <img src="assets/images/daniel-hjalmarsson-269425.jpg" alt="Mobirise" title="" media-simple="true">
	                </div>
	                <div class=" align-left">
	                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">Seedlings</h2>
	                    <div class="mbr-section-text">
	                        
	                    </div>

	                    <div class="block-content">
	                        <div class="card p-3 pr-3">
	                            <div class="media">
	                                     
	                                <div class="media-body">
	                                    <h4 class="card-title mbr-fonts-style display-5">Vegetable Seeds &amp; Plants</h4>
	                                </div>
	                            </div>                

	                            <div class="card-box">
	                                <p class="block-text mbr-fonts-style display-7"><span style="font-size: 19.2px;">Vivamus vel neque dapibus, rutrum libero at, vulputate magna.</span><br></p>
	                            </div>
	                        </div>

	                        <div class="card p-3 pr-3">
	                            <div class="media">
	                                     
	                                <div class="media-body">
	                                    <h4 class="card-title mbr-fonts-style display-5">Flower Seeds &amp; Plants</h4>
	                                </div>
	                            </div>                

	                            <div class="card-box">
	                                <p class="block-text mbr-fonts-style display-7">
	                                    Vestibulum consectetur vitae sem id tempor. Vestibulum accumsan mi ac erat varius iaculis.</p>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div> 
	    </div>          
	</section>

	<section class="mbr-section content4 cid-qyw1Idp10G" id="content4-c" data-rv-view="1414">

	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="title col-12 col-md-8">
	                <h2 class="align-center pb-3 mbr-fonts-style display-2">Our location:</h2>
	                
	                
	            </div>
	        </div>
	    </div>
	</section>

	<section class="map2 cid-qyvXD31p9e" id="map2-a" data-rv-view="1416">

	    

	    <div class="container">
	        <div class="media-container-row">
	            <div class="col-md-8">
	                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2406.651958742605!2d8.21427595168627!3d52.90068997978939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b73b721e0ccd79%3A0x8d8ae2e53ae3e21a!2sMSL!5e0!3m2!1sen!2sde!4v1528811253721" allowfullscreen=""></iframe></div>
	        </div>
	    </div>
	</div></section>

	<section class="mbr-section article content12 cid-qyvPYQDH0v" id="content12-6" data-rv-view="1418">
	     

	    <div class="container">
	        <div class="media-container-row">
	            <div class="mbr-text counter-container col-12 col-md-8 mbr-fonts-style display-7">
	                <ul>
	                    <li><strong>Individual Approach&nbsp;</strong> - Morbi nec diam ex. Sed sit amet pulvinar tellus. Phasellus pretium imperdiet turpis, eu eleifend enim mattis ac.</li>
	                    <li><strong>Shipping &amp; Returns&nbsp;</strong>- Ut fringilla dolor quam, ultricies egestas ex vulputate a. Quisque non metus eget elit euismod placerat.</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</section>

	<section once="" class="cid-qyAEQ2VwiK" id="footer6-e" data-rv-view="1419">

	    

	    

	    <div class="container">
	        <div class="media-container-row align-center mbr-white">
	            <div class="col-12">
	                <p class="mbr-text mb-0 mbr-fonts-style display-7">
	                    © Copyright 2017 <a href="https://mobirise.com/bootstrap-template/" class="text-white">Free Bootstrap Templates</a> - All Rights Reserved
	                </p>
	            </div>
	        </div>
	    </div>
	</section>

{% endblock %}