{% extends 'base.html.twig' %}

{% block title %}MSL-Elektronik{% endblock %}

{% block body %}

	
	<h1 >MSL Elektronik</h1>
	
	<p>Willkommen auf der Homepage von MSL Elektronik!</p>

	<p>
		<b>Bei uns gibt es zwar keine 0% 
		Finanzierung <br>
		und Geiz ist auch nicht geil, aber dafür bieten <br>
		wir Ihnen Elektronikartikel und Service zu fairen Preisen.<br>
		<br>
		Machen Sie sich gleich hier ein Bild von unseren Leistungen und unserem 
		Service oder schauen <br>
		Sie einfach direkt bei uns vorbei.</b>
	</p>

	<p>	
		<b>Wir hoffen, auch Sie, bald als 
		Kunden begrüßen <br>
		zu dürfen!</b>
	</p>

{% endblock %}